@import '../../assets/styles/common.scss';

.payment {
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
  width: 80%;

  &-card {
    background: white;
  }

  &-error {
    height: 4rem;
  }
  &-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0.5em;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 2em 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 50%;
  }

  &-ticket {
    display: flex;
    flex-direction: column;
    width: 45%;

    &-header {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-app-color;
    }

    &-subtext {
      font-size: 1.5rem;
      color: $dashboard-buy-header;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;
    margin-bottom: 3em;

    &-buy {
      font-size: 1.2rem;
      height: 3.5rem;
      width: 13rem;
      color: white;
      background-color: $primary-app-color;

      &:hover {
        background: $primary-app-color-hover;
        }
    }

    &-back {
      font-size: 1.2rem;
      height: 3.5rem;
      width: 13rem;
      color: white;
      background-color: $dashboard-buy-header;

      &:hover {
        background: $payment-info-back-button;
      }
    }
  }

  &-backdrop {
    display: flex;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 10;
    align-items: center;
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.5);
  }

  @media only screen and (max-width: 767px) {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
    
    &-wrapper {
      flex-direction: column;
    }

    &-info {
      width: 100%;
    }

    &-ticket {
      width: 100%;
    }
  }
}