@import '../../assets/styles/common.scss';

.payment {
  display: flex;
  flex-direction: column;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: 2%;
  width: 60%;

  &-error {
    height: 4rem;
  }
  &-header {
    font-size: 2.5rem;
    font-weight: bold;
    margin-top: 0.5em;
  }

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 5em 0;
  }

  &-info {
    display: flex;
    flex-direction: column;
    width: 40%;
  }

  &-ticket {
    display: flex;
    flex-direction: column;
    width: 40%;

    &-header {
      font-size: 2rem;
      font-weight: bold;
      color: $primary-app-color;
    }

    &-subtext {
      font-size: 1.5rem;
      color: $dashboard-buy-header;
    }
  }

  &-buttons {
    display: flex;
    justify-content: space-between;

    &-buy {
      height: 3.5rem;
      width: 10rem;
      color: white;
      background-color: $primary-app-color;

      &:hover {
        background: $primary-app-color-hover;
        }
    }

    &-back {
      height: 3.5rem;
      width: 10rem;
      color: white;
      background-color: $dashboard-buy-header;

      &:hover {
        background: $payment-info-back-button;
        }
    }
  }
}