@import '../../assets/styles/common.scss';

.header {
  background-color: white;

  &-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
  }

  &-socials-wrapper {
    display: flex;
    justify-content: space-between;
  }

  &-admin {
    width: 200px;
    display: flex;
    justify-content: center;

    &-item {
      color: $primary-app-color;
      font-size: 16px;
      margin: 0 10px;

      &:hover {
        cursor: pointer;
        color: $dashboard-buy-header;
      }
    }
  }

  &-icon {
    width: 100px;
    height: 100%;
    padding: 10px;
    margin-right: 16px;
    cursor: pointer;
  }

  &-text {
    display: flex;
    flex-direction: column;
    align-self: center;
    font-size: 16px;
    color: black;
    font-weight: bold;
  }

  &-socials {
    display: flex;
    flex-wrap: wrap;

    &-fb {
      padding: 5px;
      font-size: 3em;
      cursor: pointer;
      color: $facebook-icon;
    }

    &-twitter {
      @extend .header-socials-fb;
      color: $twitter-icon;
    }

    &-linkedin {
      @extend .header-socials-fb;
      color: $linkedin-icon
    }

    &-reddit {
      @extend .header-socials-fb;
      color: $reddit-icon
    }

    &-whatsapp {
      @extend .header-socials-fb;
      color: $whatsapp-icon
    }

    &-mail {
      @extend .header-socials-fb;
      color: $mail-icon
    }

    &-text {
      @extend .header-text;
      margin-right: 10px;
      color: grey;
    }
  }

  @media only screen and (max-width: 767px) {
    &-wrapper {
      flex-direction: column;
    }
  }
}

.react-share__ShareButton {
  margin: 0.4em;
}