@import '../../assets/styles/common.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 2% 0;

  &-link {
    text-decoration: none;
    color: black;
    font-size: 15px;
    margin: 5px 14px;

    &:hover {
      color: $primary-app-color;
      text-decoration: none;
    }
  }
}