@import '../../assets/styles/common.scss';

.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 2%;
  margin: 0 18%;

  &-link {
    text-decoration: none;
    color: black;
    font-size: 18px;
    padding: 5px 5px;

    &:hover {
      color: $primary-app-color;
      text-decoration: none;
    }
  }

  @media only screen and (max-width: 1080px) {
    margin: 0;
  }
}