$primary-app-color: rgba(236, 42, 50, 1);
$primary-app-color-hover: rgba(243, 70, 77, 1);
$dashboard-background: rgba(239, 238, 238, 1);
$dashboard-buy-header: rgba(172, 175, 181, 1);
$dashboard-buy-content: rgba(0, 0, 0, 1);
$order-info-header: rgba(0, 0, 0, 1);
$payment-info-back-button: rgba(178, 182, 189, 1);
$app-background: rgba(255, 255, 255, 1);
$checkout-pages-background: rgba(238, 237, 236, 1);

$facebook-icon: rgba(57, 90, 161, 1);
$twitter-icon: rgba(61, 151, 216, 1);
$linkedin-icon: rgba(6, 120, 185, 1);
$reddit-icon: rgba(242, 75, 38, 1);
$whatsapp-icon: rgba(112, 193, 106, 1);
$mail-icon: rgba(106, 204, 236, 1);

//export so we can load into JS files for material UI styling
// :export {
//   primaryAppColor: $primary-app-color;
// }